.section{

}
.section1{
    background-color: #F7CAAC;
}
.section2{
    background-color: #FFE599;
}
.Contenedor2{
    background-color:  #FFFF00;
}


.section4{
    background-color: #8EAADB;
}
.section5{
    background-color: #68FB61;
}
.section6{
    background-color: #DDABFF;
}
.section7{
    background-color: #FF66FF;
}
.section8{
    background-color: #00CCFF;
}
