.elementos{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none !important;
    color: black;
}
.elementos2{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none !important;
    color: black;
}
.Al{
    background-color: rgb(98, 98, 240);
    text-decoration: none !;
}
.B{
    background-color: rgb(90, 216, 90);
}